
    
@media ( max-width: 688px){

    html {
        flex-direction: column;
        font-family:  Arial, sans-serif, monospace;
        font-size: medium;
        font-weight: 50%;
        background-color: rgb(241, 207, 184);
    }

    /* Introduction Section */

    .IntroductionSect {
        /* display: flex; */
        flex-direction: column;
        text-align: center;
        justify-items: space-between; 
    }
    
    .FirstPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;        
    }

    .MyHeading {
        text-align: center;
    }
    
    /* Favorite City Section */


    .FavoriteCitySect {
        flex-direction: row;
        text-align: center;
        justify-items: space-between;
    }
    

    .SecondPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;
        float: left;
    }

    .AboutGerman {
        text-align: center;
    }

    .GermanHeading {
        text-align: center;
    }

    /* Foreign Language Section*/

    .FLHeading{
        text-align: center;
    }

    .FLParagraph {
        text-align: center;
    }


    .ForeignLangSect {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    /* Historical Places Section */

    .Babake {
        padding: 8px;
        margin: 8px;
        max-width: 500px;
        max-height: 400px;
        padding: 10px;
        background-color: rgb(241, 227, 227);
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
    }

    .HistoricalPlaceSect {
        flex-direction: column;
        text-align: center;
        justify-items: space-between;
    }
    .ThirdPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;
        float: right;
    }

    .ForthPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;
        float: left;
    }

    .FiftPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;
        float: right;
    }
    .HistoricalHeading {
        text-align: center;
    }

    .FirstPlace {
        align-items: center;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    }

    .SecondPlace {
        align-items: center;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    }

    .ThirdPlace {
        align-items: center;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    }


     /* Table */
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200,200,200);
        letter-spacing: 1px;
        font-size: 0.8rem;
        align-content: center;
      }
      
      td, th {
        border: 1px solid rgb(190,190,190);
        padding: 10px 20px;
      }
      
      th {
        background-color: rgb(235,235,235);
      }
      
      td {
        text-align: center;
      }
      
      tr:nth-child(even) td {
        background-color: rgb(250,250,250);
      }
      
      tr:nth-child(odd) td {
        background-color: rgb(245,245,245);
      }
      
      caption {
        padding: 10px;
      }

      .Footer {
        height: 100px;
        background-color: rgb(209, 200, 196);
        box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.7);
        align-content: center;
    }
}


@media (min-width: 688px) {
    html {
        flex-direction: column;
        font-family:  Arial, sans-serif, monospace;
        font-size: medium;
        font-weight: 50%;
        background-color: rgb(245, 218, 186);
    }


    /* Introduction Section */

    .IntroductionSect {
        display: flex;
        flex-flow: row wrap; 
        justify-content: center; 
    }
    
    .FirstPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;
        padding-left: 10px;
    }

    .MyHeading {
        padding-left: 50px;
    }
    
    /* Favorite City Section */

    .FavoriteCitySect {
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }

    .SecondPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;

    }

    .AboutGerman {
        width: 800px;
        height: 220px;
        align-items: center;

    }

    .GermanHeading {
        text-align: center;
    }

    /* Foreign Language Section*/

    .FLHeading{
        text-align: center;
    }

    .FLParagraph {
        text-align: center;
    }


    .ForeignLangSect {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    /* Historical Places Section */

    /* Box */
    .Babake {
        padding: 8px;
        margin: 8px;
        max-width: 500px;
        padding: 10px;
        background-color: rgb(241, 227, 227);
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
    }

    .HistoricalPlaceSect {
        display: flex;
        align-items: center;
        text-align: center;
        /* justify-content: space-around; */
    }
    .ThirdPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;
        float: right;
    }

    .ForthPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;
        float: right;
    }

    .FiftPic {
        width: 200px;
        height: 200px;
        border-radius: 60px;
        float: right;
    }

    .HistoricalHeading {
        text-align: center;
    }

    .FirstPlace {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    }

    .SecondPlace {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    }

    .ThirdPlace {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    }


    /*Table*/


    table {
        border-collapse: collapse;
        border: 2px solid rgb(200,200,200);
        letter-spacing: 1px;
        font-size: 0.8rem;
        align-items: center;
      }
      
      td, th {
        border: 1px solid rgb(190,190,190);
        padding: 10px 20px;
      }
      
      th {
        background-color: rgb(235,235,235);
      }
      
      td {
        text-align: center;
      }
      
      tr:nth-child(even) td {
        background-color: rgb(250,250,250);
      }
      
      tr:nth-child(odd) td {
        background-color: rgb(245,245,245);
      }
      
      caption {
        padding: 10px;
      } 
    
      .Footer {
        height: 100px;
        background-color: rgb(209, 200, 196);
        box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.7);
        align-content: center;
    }
}   
